<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snowwolf.dtotool.mapper.schemata.SchemataMapper" >
    <resultMap id="BaseResultMap" type="com.snowwolf.dtotool.mode.SchemataVo" >
        <result column="SCHEMA_NAME" property="schemaName" jdbcType="VARCHAR" />
        <result column="DEFAULT_CHARACTER_SET_NAME" property="defaultCharacterSetName" jdbcType="VARCHAR"/>
        <result column="DEFAULT_COLLATION_NAME" property="defaultCollationName" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
         SCHEMA_NAME, DEFAULT_CHARACTER_SET_NAME, DEFAULT_COLLATION_NAME
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM SCHEMATA
    </select>

    <select id="getOne" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
	   FROM SCHEMATA
	   WHERE SCHEMA_NAME = #{schemaName}
    </select>
</mapper>